.mask-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 50%);
    pointer-events: none;
}

.drop-shadow-white {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}